/* 
reset 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

/* 
general 
*/

.background-celeste {
    background-color: #255ee9;
    padding: 10px 0;
}

.container > * {
    padding: 5px;
    
}

.background-blu {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 30px 0;

}


.casella-celeste {
    text-align: center;
    width: 65%;
    min-height: 300px;
}

.casella-celeste img {
    width: 650px;

}

.casella-pink {
    width: 35%;
    min-height: 350px;
}

.container-caselle {
    width: 1000px;
    margin: 30px auto;
    display: flex;
   

}

.background-lightblack {
    background-color: #23272a;
    margin: 0 auto;
    padding-top: 10px;
    
    
}

.caratteristic-button {
    border-radius: 20px;
    padding: 8px;
    border: 0;
    font-size: large;
}

.button-lightblack {
    background-color: #23272a;
    color: white;
}

.button-lilla {
    background-color: #7289da;
    color: white;
}

/*
 header 
*/

.container {
    width: 1300px;
    margin: 0 auto;
    display: flex;

}

.container .logo {
    width: 20%;
    text-align: left;


    
}

.container .link {
    width: 60%;
    text-align: center;
    padding: 10px 
}

.container .link a {
    text-decoration: none;
    padding: 5px 15px 5px;
    color: white;
    
}

.container .login {
    width: 20%;
    text-align: end;
    
}

.bottoni-header button {
    margin: 20px;
    padding: 10px;
}

.casella-fucsia {
    width: 700px;
    min-height: 250px;
    margin: 150px auto;
    text-align: center;
    font-size: large;
    color: white;

}

.casella-fucsia span {
    display: inline-block;
}

.casella-fucsia h1 {
    margin: 20px;
}

/*
 main  
*/

.casella-pink h2 {
    font-size: 45px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.background-gray {
    background-color: #f6f6f6;
    margin: 0 auto;
    display: flex;
    
}

.casella-verde {
    width: 1000px;
    margin: auto;
    display: flex;
    min-height: 950px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.casella-verde h2 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.casella-verde img {
    width: 1000px;
}

.fine-main {
    background-image: url(../img/stars.svg);
    background-size: 500px;
    background-repeat: no-repeat;
    padding: 35px;
    width: 500px;
    height: 100px;
    font-size: 27px;
}

/*
footer  
*/

.casella-carne {
    background-color: #f08080;
    border: 2px dashed black;
    width: 30%;
    min-height: 400px;
    

}

.casella-lightgreen {
    background-color: #20b2aa;
    border: 2px dashed black;
    width: 70%;
    min-height: 400px;
    display: flex;
}

.casella-lightgreen > * {
    border: 2px dashed white;
    width: calc(100% / 4);
    display: flex;
}

.container-caselle-footer {
    width: 800px;
    margin: 0px auto 30px ;
    display: flex;
   
}

.riga {
    border: 1px solid white;
    width: 800px;
    margin: 0 auto;
}

.background-acqua {
    background-color: #5db094;
    width: 800px;
    min-height: 60px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.background-acqua > * {
    background-color: #e6a5af;
    border: 2px dashed black;
    padding: 5px;
    
    text-align: center;
}




